/*____ADDED FONTS________________________________________________*/



/*____MAIN STYLES________________________________________________*/

body {
  font-family: helvetica, sans-serif;
  margin: 0 auto;
  background: #232323;
  color: #fff;
  
}

header {
  text-align: center;
  background: url('http://i.imgur.com/Hv8TPLF.jpg');
  background-size: cover;
  color: #fff;
  width: 100%;
  min-height: 150px;
  padding-top: 4em;
}

a {
  color: white;
}

h1 {
  font-size: 70px;
  height: 164px;
}

h2 {
  font-size: 50px;
  text-align: center;
  padding-top: 1em;
}

h3 {
  font-size: 30px;
  padding-top: 1em;
}

h4 {
  text-align: center;
}

img {

}

ul {

}

li {
  display: inline;
  padding: 0px 10px 0px 10px;
}

div {

}

p {
  margin: 0.5em 0;
  padding: 0 1em;
}

/*____CLASS & ID STYLES________________________________________________*/

nav>ul {
  padding: 10px;
  background: rgba(0,0,0,0.5);
  list-style: none;
}

#main {
  margin-top: 1em;
  padding: 0 7.5%;
}

#main>div {
  min-height: 15em;
  width: 100%;
  margin: 0;
  padding: 0;
}

#main ul {

}

#main li {
  display: block;
}

div.skill-list {
  display: inline-block;
  width: 20%;
}

.skill-list ul {
}

.clear {
  clear: both;
}



/*____MEDIA QUERY________________________________________________*/

@media (max-width: 750px) {
  h1 {
    font-size: 36px;
    padding: 5px;
  }

  li {
    padding: 5px;
    display: block;
  }
}