/*____ADDED FONTS________________________________________________*/



/*____MAIN STYLES________________________________________________*/

body {
  background: url(../images/texturetastic_gray.png);
  background-repeat: repeat;
  font-family: helvetica, sans-serif;
  margin: 0 auto;
  color: #000;
}

header {
  text-align: center;
  background-color: #ccc;
  /*background: url('http://i.imgur.com/Hv8TPLF.jpg');*/
  /*background-size: cover;*/
  /*background: url('../images/xv.png');*/
  color: #fff;
  width: 100%;
  min-height: 12.5em;
  padding-top: 0em;
}

a {
  color: #000;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 50px;
  text-align: center;
  padding-top: 1em;
}

h3 {
  font-size: 30px;
  padding-top: 1em;
}

h4 {
  text-align: center;
}

p {
  margin: 0.5em 0;
  padding: 0 1em;
}

/*____BOOTSTRAP HACKS________________________________________________*/

.navbar {
  background: rgba(0,0,0,0.5);
  margin-bottom: 0;
  min-height: 30px;
}

.navbar-nav {
  float: none;
  text-align: center;
}

.navbar-nav>li {
  float: inherit;
  display: inline-block;
}

.navbar-nav>li>a {
  padding: 5px 15px;
}

.navbar-toggle {
  padding: 0 10px;
  margin: 4px 15px 4px 0;
}


/*____CLASS & ID STYLES________________________________________________*/

/*nav>ul {
  padding: 10px;
  background: rgba(0,0,0,0.5);
  list-style: none;
}

#main {
  margin-top: 1em;
  padding: 0 7.5%;
}

#main>div {
  min-height: 15em;
  width: 100%;
  margin: 0;
  padding: 0;
}

#main ul {

}

#main li {
  display: block;
}

div.skill-list {
  display: inline-block;
  width: 20%;
}

.skill-list ul {
}

.clear {
  clear: both;
}
*/


/*____MEDIA QUERY________________________________________________*/

@media (max-width: 750px) {
  h1 {
    font-size: 36px;
    padding: 5px;
  }

/*  li {
    padding: 5px;
    display: block;
  }*/
}