/*____ADDED FONTS________________________________________________*/



/*____MEDIA QUERY________________________________________________*/

/*@media (min-width: 768px) {

}
*/


/*____MAIN STYLES________________________________________________*/

body {
  background: url(../images/texturetastic_gray.png);
  background-repeat: repeat;
  font-family: helvetica, sans-serif;
  margin: 0 auto;
  color: #000;
}

header {
  text-align: center;
  background-color: #CDF;
  /*background: url('http://i.imgur.com/Hv8TPLF.jpg');*/
  /*background-size: cover;*/
  /*background: url('../images/xv.png');*/
  color: #fff;
  width: 100%;
  min-height: 12.5em;
  padding-top: 2.5em;
}

a {
  color: #000;
}

h1 {
  text-align: center;
/*  margin: 0;
  padding: 0;*/
}

h2 {
  /*font-size: 50px;*/
  /*text-align: center;*/
}

/*h3 {
  font-size: 30px;
  padding-top: 1em;
}*/

/*h4 {
  text-align: center;
}*/

p {
  margin: 0.5em 0;
  padding: 0 1em;
}

img:hover {
  -webkit-filter: grayscale(0%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: .5s ease-in-out;
} 

img {
  -webkit-filter: grayscale(100%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(100%); 
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(100%); 
  -o-transition: .5s ease-in-out;
}


/*____BOOTSTRAP HACKS________________________________________________*/

.affix-top, .affix {
  background-color: rgba(0,0,0,0.5);
}

.affix-top {
  margin-top: 76px;
}

.affix {
  top: 0;
  width: 100%;
}

.navbar {
  margin-bottom: 0;
  min-height: 30px;
}

.navbar-nav {
  float: none;
  text-align: center;
}

.navbar-nav>li {
  float: inherit;
  display: inline-block;
}

.navbar-nav>li>a {
  padding: 5px 15px;
}

.navbar-toggle {
  padding: 0 10px;
  margin: 4px 15px 4px 0;
}

.lead {

}

.row {
  padding-top: 1em;
}


/*____CLASS & ID STYLES________________________________________________*/

.clearfix {
  clear: both;
}

#myface {
  text-align: center;
}

#myface>img {
  width: 210px;
  height: 210px;
}

/*#main {
  margin-top: 1em;
  padding: 0 7.5%;
}

#main>div {
  min-height: 15em;
  width: 100%;
  margin: 0;
  padding: 0;
}

#main li {
  display: block;
}

div.skill-list {
  display: inline-block;
  width: 20%;
}

.skill-list ul {
}*/

/*____MEDIA QUERY________________________________________________*/

@media (max-width: 768px) {

  h1 a {
    color: blue;
  }

  .navbar-nav>li {
    display: block;
  }

}
